apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ name }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ label }}
  template:
    metadata:
      labels:
        app: {{ label }}
    spec:
      containers:
        - name: {{ container_name }}
          image: {{ image }}
          ports:
          {% for port in ports %}
          - containerPort: {{ port.containerPort }}
          {% endfor %}
