apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ ingress.name }}
  {% if ingress.annotations %}
  annotations:
    {% for key, value in ingress.annotations.items() %}
    {{ key }}: "{{ value }}"
    {% endfor %}
  {% endif %}
spec:
  {% if ingress.tls %}
  tls:
    - hosts:
      {% for host in ingress.tls.hosts %}
      - "{{ host }}"
      {% endfor %}
      secretName: {{ ingress.tls.secretName }}
  {% endif %}
  rules:
    {% for rule in ingress.rules %}
    - host: "{{ rule.host }}"
      http:
        paths:
          {% for path in rule.paths %}
          - path: "{{ path.path }}"
            pathType: {{ path.pathType }}
            backend:
              service:
                name: {{ path.backend.service.name }}
                port:
                  number: {{ path.backend.service.port }}
          {% endfor %}
    {% endfor %}
