apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
spec:
  type: {{ type }}
  ports:
  {% for port in ports %}
  - port: {{ port.port }}
    targetPort: {{ port.targetPort }}
  {% endfor %}
  selector:
    app: {{ label }}
